body {
	position: relative;
	padding: 25px;
	min-height: 100vh;
}

.vertical-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav {
	font-size: 1.8rem;
}

.shopping-cart {
	position: relative;
}

.cart-count {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 0.6rem;
}

.list-group .category-label {
	margin-right: 10px;
}

.list-group .badge {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translate(0, -50%);
	font-size: 0.65rem;
}

.card .badge {
	position: absolute;
	right: 5px;
	top: 5px;
}

.card-body .label {
	margin-right: 5px;
}

.display-none {
	display: none;
}

.item-container {
	position: relative;
}

.item-container img {
	margin-right: 1rem;
}

.item-container .item-name {
	font-weight: bold;
}

.item-container .item-quantity {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
	font-size: 0.8rem;
}

.item-container .item-quantity:before {
	content: "x";
	position: absolute;
	right: 25px;
}

.bold {
	font-weight: bold;
}